/.build
*.sublime-workspace
*.pri
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.loa
*.lof
*.log
*.lot
*.out
*.xml
*.toc
*.glg
*.glo
*.gls
*.ist
*.lol
*.gz
*.acn
*.acr
*.alg
example_paper.pdf
example_paper.tex
CHANGELOG.md
example.pdf
example.tex
fei.sublime-project
tutorial.pdf
